
$monospaceFont: 'andale_monoregular', Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
$headerFont: "brandon-grotesque";
$fontWeightBold: 700;
$fontWeightBlack: 900;
$monoFontSize: 12rem;
$monoFontSizeSm: 8rem;
$jkhover: 88, 76, 68;
$gold: #a47c53;